<h1>Search Results</h1>
<%= form_tag(search_products_path, method: :get) do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: 'Enter keyword' %>
  <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :title, params[:category]), include_blank: 'All Categories' %>
  <%= submit_tag 'Search' %>
<% end %>
<%= render 'products/products_list' %>
<%= paginate @products %>